body,html{
	margin:0px
}

body{
	background-image: url("../img/patronFondo.png");
	width:70%;
	padding-left:15%;
	padding-right:15%
}

body,input,select,label{
	font-size:2vw;
}

h3{
	font-size:3vw;
}

input,select{
	width:60%;
	margin-left: 20%;
}


input[type=radio]{
	width: 5%;zoom:1.5;
}

input[type=checkbox]{
	width:5%;zoom:1.5
}

.inputCheckBox {
	margin-left: 0px; 
}

.inputRadioButton{
	margin-left: 0px;
}

#btnCorregir{
	width: 40%;
	margin-left: 30%; 
}

#myform{
    background-color:aliceblue;
	padding:3%;
}

#myform select{
	border-style: outset;
	border-radius: 10px;
	overflow: hidden;
}

#myform div{
	width: 80%;
	margin-left: 10%;
}

#resultadosDiv{
    background-image: url("../img/fondoRespuesta.png");
    color: white;
    display: none;
}

#resultadosDiv div{
	width: 80%;
	margin-left: 10%;
    border-style: solid none;
    border-color: snow; 
    border-radius: 0px;
}

#resultadosDiv p{
	padding-left: 1%;	
}

#nota{
    text-align: center;
    text-decoration: underline;
    font-size: 6vw;
}

/******************************************************************************/
/* HEADER */
/******************************************************************************/
#Header{
	width:100%;
	display: inline-block;
}

#Header img {
	vertical-align: middle;
	width: 20%;
	margin: 1%;
}

#Header p{
	font-size: 3vw;
	margin-left: 5%;
	display: inline-block;
	vertical-align: middle;
}

/******************************************************************************/
/* MENU */
/******************************************************************************/
/* Remove margins and padding from the list, and add a black background color */
#menu {
	font-size: 1.5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
}

#menu .selected{
	background-color: #111;
}